:root{
    --caribbean-current: #197278;
    --medium-blue: #0091AD;
    --light-blue: #84C0C6;
    --lighter-blue: #C7E3E5;
    --deep-blue: #122F68;
    --beige: #CDD9BF;
    --light-brown: #93827F;
    --pale-lavendar: #DCE6F9;
    --melon: #D9A698;
    --brown-sugar: #C06E52;
    --olivine: #94AA74;
    --verdigris: #26B0BA;
    --myrtle-green: #3A797E;

}
/* styling for main.handlebars: */
.navbar{
    background-color: var(--caribbean-current);
    margin-bottom: 10px;
    
}
.nav-link {
    color: var(--pale-lavendar);
}
.nav-link:hover{
    color: var(--beige);
    text-shadow: 2px 2px var(--deep-blue)
}
.navbar-brand{
    color: var(--pale-lavendar);
    text-shadow: 2px 2px var(--deep-blue);
    font-weight: bolder;
}
/* styling for homepage: */
.card-body.posts {
margin: 10px;
background-color: var(--pale-lavendar);
border-style:inset;
border-width: 2px;
border-color: var(--medium-blue);
}
.card-body.posts:hover {
background-color: var(--lighter-blue);
box-shadow: 5px 5px var(--caribbean-current);
}
button.post-list.btn {
background-color: var(--medium-blue);
color: white;
border-radius: 15px;
}
button.post-list.btn:hover {
background-color: var(--deep-blue);
    }
.post-title{
font-size: x-large;
}
.post-content{
font-size: large;
}
.card.post-container{
    border: none;
}

/* styling for viewPost: */
.comment-card {
background-color: var(--lighter-blue);
margin-top: 4px;
}
.update-comment-btn {
    background-color: var(--light-blue);
}
.update-comment-btn:hover {
    background-color: var(--caribbean-current);
    color:white;
    box-shadow: 3px 3px var(--deep-blue)
}
.delete-comment-btn{
    background-color: var(--melon);
}
.delete-comment-btn:hover{
    background-color: var(--brown-sugar);
    color: white;
    box-shadow: 3px 3px var(--light-brown);
}
.delete-comment-btn, .update-comment-btn{
    padding: 5px;
    /* top/bottom, left/right -- here we are making a larger margin L/R to stop the buttons from taking/filling up so much horizontal space*/
    margin: 6px 30px;
}
.add-comment-card {
    text-align: center;
    margin: 6px;
    padding: 35px;
    background-color: var(--pale-lavendar);
}
.submit-comment-btn {
    background-color: var(--myrtle-green);
    color: white;
    border-radius: 25px;;
}
.submit-comment-btn:hover {
    background-color: var(--verdigris);
    box-shadow: 3px 3px var(--olivine);
}

/* styling for login page: */
.form.login-form, .form.signup-form {
    text-align: center;
    background-color: var(--pale-lavendar);
    border-style: inset;
    border-width: 3px;
    border-color: var(--light-brown);
    border-radius: 15px;
    margin: 15px;
    padding: 30px;
}
.form.login-form:hover, .form.signup-form:hover{
    box-shadow: 4px 4px var(--medium-blue);
} 
.btn.form-btn {
    margin-top: 9px;
    background-color: var(--light-blue);
    border-radius: 20px;
}
.btn.form-btn:hover {
    background-color: var(--medium-blue);
    box-shadow: 2px 2px var(--deep-blue);
    color: white;
}
.form-group{
    margin-top: 9px;
}

/* styling for dashboard page: */
.card.create-post {
    margin: 15px;
    padding: 20px;
    text-align: center;
    border-radius: 18px;
    background-color: var(--pale-lavendar);
}
.card.create-post:hover {
    box-shadow: 4px 4px var(--deep-blue);
}
.btn.create-post {
    background-color: var(--medium-blue);
    color: white;
    border-radius: 20px;
}
.btn.create-post:hover {
    background-color: var(--deep-blue);
} 
.del-btn, .update-btn{
    padding: 5px;
    margin-top: 6px;
}
.del-btn {
    background-color: var(--melon);
}
.del-btn:hover {
    background-color: var(--brown-sugar);
    color: white;
}
.update-btn {
    background-color: var(--medium-blue);
    color: white;
}
.update-btn:hover {
    background-color: var(--deep-blue);
    color: white;
}
.post-card {
    display: block;
    text-align: center;
    margin: 10px;
    padding: 5px;
    background-color: var(--lighter-blue);
}
.comment-heading {
    margin-top: 10px;
}
.dash-comment {
    text-align: left;
}
.commenter-name {
    font-weight: bold ;
}

/* update or delete post page styling:  */
#form-card{
    background-color: var(--pale-lavendar);
    text-align: center;
    padding: 15px;
}
#update-btn, #del-btn {
    margin-top: 10px;
}
#update-btn{
    background-color: var(--light-blue);
    color: black;
}
#update-btn:hover{
    background-color: var(--deep-blue);
    color: white;
}
#del-btn{
    background-color: var(--melon);
    color: black;
}
#del-btn:hover{
    background-color: var(--brown-sugar);
    color: white;
}
/* update comment form card:  */
.update-comment-card{
    margin: 15px;
    padding: 35px;
    background-color: var(--lighter-blue);
}