:root{
    --caribbean-current: #197278;
    --medium-blue: #0091AD;
    --light-blue: #84C0C6;
    --lighter-blue: #C7E3E5;
    --deep-blue: #122F68;
    --beige: #CDD9BF;
    --light-brown: #93827F;
    --pale-lavendar: #DCE6F9;
    --melon: #D9A698;
    --brown-sugar: #C06E52;

}
/* styling for main.handlebars: */
.navbar{
    background-color: var(--caribbean-current);
    margin-bottom: 10px;
    
}
.nav-link {
    color: var(--pale-lavendar);
}
.nav-link:hover{
    color: var(--beige);
    text-shadow: 2px 2px var(--deep-blue)
}
.navbar-brand{
    color: var(--pale-lavendar);
    text-shadow: 2px 2px var(--deep-blue);
    font-weight: bolder;
}
/* styling for homepage: */
.card-body.posts {
margin-top: 10px;
background-color: var(--pale-lavendar);
border-style:inset;
border-width: 2px;
border-color: var(--medium-blue);
}
button.post-list.btn {
background-color: var(--medium-blue);
color: white;
border-radius: 15px;
}
.post-title{
font-size: x-large;
}
.post-content{
font-size: large;
}
.card.post-container{
    border: none;
}

/* styling for viewPost: */
.comment-card {
background-color: var(--light-blue);
margin-top: 4px;
}
/* styling for login page: */
.form.login-form, .form.signup-form {
    text-align: center;
    background-color: var(--pale-lavendar);
    border-style: inset;
    border-width: 3px;
    border-color: var(--light-brown);
    border-radius: 15px;
    margin: 15px;
    padding: 30px;
}
.form.login-form:hover, .form.signup-form:hover{
    box-shadow: 4px 4px var(--medium-blue);
} 
.btn.form-btn {
    margin-top: 9px;
    background-color: var(--light-blue);
    border-radius: 20px;
}
.btn.form-btn:hover {
    background-color: var(--medium-blue);
    box-shadow: 2px 2px var(--deep-blue);
    color: white;
}
.form-group{
    margin-top: 9px;
}

/* styling for dashboard page: */
.card.create-post {
    margin: 15px;
    padding: 20px;
    text-align: center;
    border-radius: 18px;
    background-color: var(--pale-lavendar);
}
.card.create-post:hover {
    box-shadow: 4px 4px var(--deep-blue);
}
.btn.create-post {
    background-color: var(--medium-blue);
    color: white;
    border-radius: 20px;
}
.btn.create-post:hover {
    background-color: var(--deep-blue);
} 
.del-btn, .update-btn{
    padding: 5px;
    margin-top: 6px;
}
.del-btn {
    background-color: var(--melon);
}
.del-btn:hover {
    background-color: var(--brown-sugar);
    color: white;
}
.update-btn {
    background-color: var(--medium-blue);
    color: white;
}
.update-btn:hover {
    background-color: var(--deep-blue);
    color: white;
}
.post-card {
    display: block;
    text-align: center;
    /* top/bottom, left/right */
    margin: 10px;
    padding: 5px;
    background-color: var(--lighter-blue);
}
.comment-heading {
    margin-top: 10px;
}
.dash-comment {
    text-align: left;
}
.commenter-name {
    font-weight: bold ;
}